@import "tailwindcss";

* {
  scrollbar-width: none;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 5px;
}

.backgroundLogin {
  background-color: white !important;
}

.p-fileupload-file-badge.p-badge.p-component {
  display: none;
}

.p-datatable .p-datatable-tbody > tr > td {
  padding: 10px 1rem;
}

.primaryNav p {
  font-weight: bold;
  font-size: 17px;
  padding: 1rem 10px;
}

.p-datatable-header {
  padding: 0px 1rem;
}

.p-stepper .p-stepper-header:has(~ .p-highlight) .p-stepper-separator {
  background-color: #00052e;
}

.p-stepper .p-stepper-header.p-highlight .p-stepper-number {
  background-color: #00052e;
}

.p-datepicker-trigger.p-button.p-component.p-button-icon-only {
  background-color: #00052e;
}

.p-fieldset .p-fieldset-content {
  padding: 0.25rem !important;
}

.restroDocTable
  .p-datatable-wrapper
  .p-datatable-table.p-datatable-scrollable-table
  .p-datatable-tbody
  tr
  td {
  padding: 2px 1rem;
}
